

/*---------- POUR LES DLG DES IHM -----------------------------------*/

QDialog
{
font-weight:bold;
font-size: 18pt;
color:red;
background:#eeeeee;
}


QDialog QLabel
{
    font-size: 14pt;
    font-weight:bold;
    color : rgb(0,102,128);
    background:#eeeeee;
}

/*---------- POUR MON INTERFACE DE DEBUG -----------------------------*/
myDlg QTextEdit
{
    font-family: "arial", Times, cherif;
    font-weight:bold;
    font-size: 16pt;
    font-weight:bold;
    background:white;
    /*border-style:solid;
    border-color: #A0A0A0;
    border-width: 2px;
    border-radius: 5px;*/
}


myDlg QPushButton
{
    font-family: "arial", Times, cherif;
    text-align:center;
    font-size:16pt;
    color:#505050;
    font-weight:bold;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #E0E0E0,
        stop: 0.25 #C0C0C0,
        stop: 0.75 #C0C0C0,
        stop: 1.0 #A0A0A0       );
    border-style: solid;
    border-color: #A0A0A0;
    border-width: 2px;
    border-radius: 5px;
}

myDlg QPushButton:disabled
{
    font-family: "arial", Times, cherif;
    text-align:center;
    font-size:16pt;
    color:#dadada;
    font-weight:bold;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #E0E0E0,
        stop: 0.25 #C0C0C0,
        stop: 0.75 #C0C0C0,
        stop: 1.0 #A0A0A0       );
    border-style: solid;
    border-color: #A0A0A0;
    border-width: 2px;
    border-radius: 5px;
}

myDlg QGroupBox
{
    border : 2px solid grey;
    border-radius: 10px;
    color : rgb(0,102,128);
    font-size: 15pt;
    font-weight:bold;
    background:#eeeeee;
}


/*----------------------------------------------------------------------------*/

QDialog QPushButton
{
font-size: 12pt;
/*font-weight:bold;*/
color:blue;
background:#eeeeee;
}

/*------------------------------------------------------------------*/

QMessageBox
{
    font-weight:bold;
    font-size: 18pt;
    font-weight:bold;
    background:white;
    border-style:solid;
}


QMessageBox QPushButton
{
    font-weight:bold;
    font-size: 18pt;
    font-weight:bold;
    background:white;
    border-style:solid;
}


QLabel
{
/*  font-family: "DejaVu Sans";*/
/*  font-size: 20pt;*/
    background:transparent;
}

QLabel#labelFondNoir
{
    background:black;
}


QLabel#labelMsgAssistance
{
    font-size: 20pt;
    font-weight:bold;
    background:white;
    border-radius: 20px;
    border-width: 3px;
    border-style:solid;
    border-color:orange;
}
/*
QLabel#labelInfo
{
    font-size: 20pt;
    font-weight:bold;
    color:#ea11e7;
    background:#eeeeee;
    border-radius: 20px;
    border-width: 5px;
    border-style:solid;
    border-color:#888888;
}
*/

QLabel#labelDlg
{
    font-size: 20pt;
    font-weight:bold;
    /*color:#ea11e7;*/
    background:#eeeeee;
    border-radius: 20px;
    border-width: 5px;
    border-style:solid;
    border-color:#888888;
}



QWidget
{
   background-image:url("images/fond_x4.png");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
}


QLabel#labelPrint
{
    font-size: 20pt;
    font-weight:bold;
}


QLabel#labelTime
{
    color : rgb(250,200,7);
    font-weight:bold;
    font-size: 22pt;
}


QLabel#labelTitre
{
    color : rgb(250,200,7);
    font-weight:bold;
    font-size: 26pt;
}


QLabel#labelMessage
{
    color : rgb(0,0,0);
    font-size: 20pt;
    font-weight:bold;
}

QLabel#labelDefil
{
    color :#01a7e5;
    /*font-weight:bold;*/
    font-size: 30pt;
}

QLabel#labelPapierImprimante
{
    color :red;
    /*font-weight:bold;*/
    font-size: 26pt;
}

EcranDemarrage QGroupBox
{
    border : 4px solid #b0b0b0;
    /*border : 4px solid #9ac7cc;*/
    border-radius: 45px;
}


QPushButton
{
    /*font-family: "arial", Times, cherif;*/
    /*font-family: "DejaVu Sans";*/
}


QPushButton#pushBtnAchatJetons
{
    text-align:center;
    font-size:21pt;
    font-weight:bold;
    color: black;

    border-radius: 20px;
    border-image: url("images/bouton_gris.png");
    background-repeat: no-repeat;
    background-position:center;
}

QPushButton#pushBtnAchatJetons:pressed
{
    border-image: url("images/bouton_jaune.png");
}


QPushButton#pushBtnAchatCartes
{
    text-align:center;
    font-size:21pt;
    font-weight:bold;
    color: black;

    border-radius: 20px;
    border-image: url("images/bouton_gris.png");
    background-repeat: no-repeat;
    background-position:center;
}


QPushButton#pushBtnAchatCartes:pressed
{
    border-image: url("images/bouton_jaune.png");
}


QPushButton#pushBtnRechargeCarte
{
    text-align:center;
    font-size:21pt;
    font-weight:bold;
    color: black;

    border-radius: 20px;
    border-image: url("images/bouton_gris.png");
    background-repeat: no-repeat;
    background-position:center;
}


QPushButton#pushBtnRechargeCarte:pressed
{
    border-image: url("images/bouton_jaune.png");
    background-repeat: no-repeat;
    background-position:center;
}


QPushButton#pushBtnPlusDeMonnaie
{
    text-align:center;
    font-size:16pt;
    font-weight:bold;
    color: black;
    border-radius: 20px;

    border-image: url("images/bouton_gris_petit.png");
    background-repeat: no-repeat;
    background-position:center;
}

QPushButton#pushBtnOK
{
    color:white;
    font-size:23pt;
    font-weight:bold;
    border-radius: 10px;
    background-image: url("images/bouton_ok.png");
    background-repeat: no-repeat;
    background-position:center;
}


QPushButton#pushBtnAssistance
{
    color:white;
    font-size:20pt;
    font-weight:bold;
    border-radius: 10px;
    background-image: url("images/bouton_assistance.png");
    background-repeat: no-repeat;
    background-position:center;
}


QPushButton#pushBtnRetour
{
    color:white;
    font-size:20pt;
    font-weight:bold;
    border-radius: 10px;
    background-image: url("images/bouton_sys.png");
    background-repeat: no-repeat;
    background-position:center;
}


QPushButton#pushBtnAnnulation
{
    color:white;
    font-size: 20pt;
    font-weight:bold;
    border-radius: 10px;
    background-image: url("images/bouton_sys.png");
    background-repeat: no-repeat;
    background-position:center;
}


QPushButton#pushBtnOui
{
    color:white;
    font-size: 20pt;
    font-weight:bold;
    border-radius: 10px;
    border-image: url("images/bouton_sys.png");
    background-repeat: no-repeat;
    background-position:center;
}


QPushButton#pushBtnNon
{
    color:white;
    font-size: 20pt;
    font-weight:bold;
    border-radius: 10px;
    border-image: url("images/bouton_sys.png");
    background-repeat: no-repeat;
    background-position:center;
}


QPushButton#pushBtnSuite
{
    color:white;
    font-size: 20pt;
    font-weight:bold;
    border-radius: 10px;
    border-image: url("images/bouton_sys2.png");
    background-repeat: no-repeat;
    background-position:center;
}

/*----------------------------------------------------------------------------*/

QPushButton#pushBtnPaiementBillet
{
    text-align:center;
    font-size:23pt;
    font-weight:bold;
    color: black;
    border-radius: 20px;
    background-image: url("images/bouton_gris.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

QPushButton#pushBtnPaiementCB
{
    text-align:center;
    font-size:23pt;
    font-weight:bold;
    color: black;
    border-radius: 20px;
    background-image: url("images/bouton_gris.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

/*
EcranSelection QPushButton
{
    text-align:center;
    font-size:17pt;
    font-weight:bold;
    color: black;
    border-radius: 20px;

    border-image: url("images/bouton_gris.png");
    background-repeat: no-repeat;
    background-position:center;
};
*/

QPushButton#pushBtn1
{
    text-align:center;
    font-size:17pt;
    font-weight:bold;
    color: black;
    border-radius: 20px;

    border-image: url("images/bouton_gris.png");
    background-repeat: no-repeat;
    background-position:center;
}

QPushButton#pushBtn2
{
    text-align:center;
    font-size:17pt;
    font-weight:bold;
    color: black;
    border-radius: 20px;

    border-image: url("images/bouton_gris.png");
    background-repeat: no-repeat;
    background-position:center;
}

QPushButton#pushBtn3
{
    text-align:center;
    font-size:17pt;
    font-weight:bold;
    color: black;
    border-radius: 20px;

    border-image: url("images/bouton_gris.png");
    background-repeat: no-repeat;
    background-position:center;
}

QPushButton#pushBtn4
{
    text-align:center;
    font-size:17pt;
    font-weight:bold;
    color: black;
    border-radius: 20px;

    border-image: url("images/bouton_gris.png");
    background-repeat: no-repeat;
    background-position:center;
}

QPushButton#pushBtn5
{
    text-align:center;
    font-size:17pt;
    font-weight:bold;
    color: black;
    border-radius: 20px;

    border-image: url("images/bouton_gris.png");
    background-repeat: no-repeat;
    background-position:center;
}

QPushButton#pushBtn6
{
    text-align:center;
    font-size:17pt;
    font-weight:bold;
    color: black;
    border-radius: 20px;

    border-image: url("images/bouton_gris.png");
    background-repeat: no-repeat;
    background-position:center;
}

QPushButton#pushBtn7
{
    text-align:center;
    font-size:17pt;
    font-weight:bold;
    color: black;
    border-radius: 20px;

    border-image: url("images/bouton_gris.png");
    background-repeat: no-repeat;
    background-position:center;
}

QPushButton#pushBtn8
{
    text-align:center;
    font-size:17pt;
    font-weight:bold;
    color: black;
    border-radius: 20px;

    border-image: url("images/bouton_gris.png");
    background-repeat: no-repeat;
    background-position:center;
};


